

body{
    font-family: 'Fira Sans', sans-serif;

}

.registration-container {
  border: 1px solid grey;
  border-radius: 10px;
    margin-top: 100px;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    
  }
  
  .existing-account {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .register-button {
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
  }
  .nba{
    width: 50px
  }
  
